body {
	background: pink;
}

h1 {
	font-family: serif;
	font-size:24pt;
}

h2 {
	font-family:"Times New Roman";
	Font-Size: 16pt;
	color: Blue;
}
	


<p>span class="indent">I</span></p>
