body {
	background: pink;
}

h1 {
	font-family: serif;
	font-size:24pt;
}

h2 {
	font-family:"Times New Roman";
	Font-Size: 20pt;
	color: Blue;
}

.indent{
margin-left:10px;	
}

.indent1{
margin-left:100px;
}
